.site-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  color: orange; 
  height: 75px; 
}

.site-header ul {
  list-style: none;
  display: flex;
  gap:7px;  
} 

.site-header a {
  color: orange;
  text-decoration: none;
}

.u-yellow {
  color: yellow;   /* u だけ黄色 */
}




.site-header a:hover {
  color: #ffcc00;
}




.site-header h1 {
  font-size: 57px; 
}

.site-header h2 {
  font-size: 27px; 
}


.site-header ul li a {
  font-size: 27px;
}


body {
  margin: 0;
}

.site-header h1 {
  cursor: pointer;
}

.site-header h1:hover {
  color: #ffcc00;
}





.site-footer {
  position: fixed;   /* 画面下に固定 */
  bottom: 0;
  width: 100%;
  color: orange;
  background:black;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.site-footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.site-footer a {
  color: orange;
  text-decoration: none;
}

.site-footer a:hover {
  color: #ffcc00;
}




