h1,h2{
text-align:center;
}

h2.a{text-align:left;
}


ul.m{
display: flex;
flex-direction: row;
justify-content: flex-end;
list-style-type:none;
}

ul.k{
list-style-type:none;
}


ul.g{	
display: grid;
grid-auto-flow: column;
grid-template-rows: repeat(3, auto);
list-style-type:none;
}


ul.p{	
display: grid;
grid-auto-flow: column;
grid-template-rows: repeat(3, auto);
list-style-type:none;
}

ul.e{	
display: grid;
grid-auto-flow: column;
grid-template-rows: repeat(2, auto);
list-style-type:none;
}



li.g{
list-style-type:none;
border-style:solid;
border-width:7px;
border-color:#FFA500;
background-color:#ffffff;
margin-top:10px;
}



li.p{
list-style-type:none;
border-style:solid;
border-width:7px;
border-color:#FFA500;
background-color:#ffffff;
margin-top:10px;
}


li.e{
list-style-type:none;
border-style:solid;
border-width:7px;
border-color:#FFA500;
background-color:#ffffff;
margin-top:10px;
}

    
    

