h1,h2{
text-align:left;
margin: 0;
}

h1 a {
  text-decoration: none;
  color: orange;
  background-color: black;
  padding: 0px 1px;
  border-radius: 8px; 
}



h1{
font-size: 24px; 
}


h2{
font-size: 32px; 
}






