h1{
text-align:left;
margin: 0;
}

h1 a {
  text-decoration: none;
  color: orange;
  background-color: black;
  padding: 0px 1px;
  border-radius: 8px; 
}

h1{
font-size: 24px; 
}


body{
background-color:#000000;
}
p{
color:#ffffff;
}



 






/* スマホ（最大幅 600px 以下）向け */
@media (max-width: 600px) {

  p{
    font-size: 12px;
  }

} 














